.seccionPago {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media(min-width: 768px) {
    .seccionPago {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20rem;
    }

    .ancho {
        width: 60%;
    }
}

.direcciones {
    margin-top: 2rem;
    display: grid;
    grid-template-rows: 1fr;
    gap: 2rem;
}

@media(min-width: 768px) {
    .direcciones {
        grid-template-columns: repeat(2, 1fr);
    }
}

.direccion {
    border: 2px solid var(--primary);
    border-radius: 6px;
    padding: 1rem;
    transition-property: transform;
    transition-duration: 300ms;
}

.direccion:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.seleccionado {
    border-color: var(--success);
}

.boton {
    margin-top: 1rem;
    width: 100%;
    border: 2px solid var(--primary);
    padding: 1.4rem;
    border-radius: 6px;
    background-color: var(--primary);
    transition-property: background-color;
    transition-duration: 300ms;
}

.boton:hover {
    background-color: #fff;
    cursor: pointer;
}

.resumen {
    border: 2px solid var(--primary);
    border-radius: 1rem;
    padding: 1.5rem;
}

.resumen h4 {
    border-bottom: 2px solid var(--primary);
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 2rem;
}

.precio {
    font-size: 1.8rem;
    font-weight: 700;
}

.deshabilitado {
    background-color: #8fa5ff;
    border-color: #8fa5ff;
}

.deshabilitado:hover {
    cursor: not-allowed;
    background-color: #8fa5ff;
    border-color: #8fa5ff;
}

.producto {
    border-bottom: 1px solid var(--primary);
}

.pago, 
.producto {
    margin-bottom: 1rem;
}